$effect-color: #fcf78c;
$primary-color: #283345;
$secondary-color: #7973fe;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

.app {
  background-color: $effect-color;
  color: $primary-color;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  line-height: 0.5;
}

.subtitle {
  font-size: large;
  font-style: italic;
  font-weight: 200;
}

.card {
  display: flex;
  padding: 10px;
  color: white;
  background-color: $secondary-color;
  border: solid 1px $primary-color;

  &:hover {
    box-shadow: 1px 1px 8px $primary-color;
  }

  input {
    margin-right: 20px;
    cursor: pointer;
    clip:rect(0,0,0,0);
    position: absolute;
  }

  input:checked + label {
    text-decoration: line-through;
  };

  label {
    align-self: center;
    font-weight: bold;
    cursor: pointer;
  }

  .navigation {
    margin-left: auto;

    button {
      border: none;
      appearance: none;
      background-color: transparent;
      width: 30px;
      height: 30px;
      font-size: larger;
      cursor: pointer;
      
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.droppable {
  min-height: 20px;
  width: 100%;

  &:last-of-type {
    flex-grow: 1;
    min-height: 40px;
  }
}
